body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fb;
}

.murderous-robot{
  height: 25%;
  width: 100%;
  min-height: 500px;
}
.robot-message{
  position: absolute;
  left: calc(50% - 91px);
  top: 10px;
  font-family: futura;
  width: 182px;
  font-weight: bold;
}

/*
==============================================
Utility Classes
==============================================
*/
.hide{
  visibility: hidden;
}
.show{
  visibility: visible !important;
}
.loop_infinitely{
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.rotate_right{
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}
.rotate_left{
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;

}


/*
==============================================
buttons
==============================================
*/
.buttons{
  position: relative;
  top: 2em;
  left: calc(50% - 200px);
  margin-top: 20px;
  height: 50px;
  width: 375px;
  padding: 25px 0 25px 25px
}
.btn{
  float: left;
  height: 40px;
  width: 100px;
  background-color: #AD141E;
  margin: 10px 25px 20px 0;
}

.btn p{
  pointer-events: none;
  cursor: default;
  font-family: futura;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  margin: 0;
  font-size: 110%;
  color: white;
}

/*
==============================================
robot
==============================================
*/
.robot{
  position: relative;
  top: 4em;
  left: calc(50% - 125px);
  height: 250px;
  width: 250px;
}
.background-circle{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c32f34;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 250px;
     -moz-border-radius: 250px;
          border-radius: 250px;
}
.layer{
  position: absolute;
  top: 0;
  left: 0;
}

/*
==============================================
Layer 0
==============================================
*/
.radio-wave{
  position: absolute;
  background-color: transparent;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.little{
  top: 42px;
  left: 94px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.medium{
  top: 32px;
  left: 84px;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.big{
  top: 22px;
  left: 74px;
  height: 90px;
  width: 90px;
  border-radius: 90px;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.left-triangle{
  position: absolute;
  top: 24px;
  left: 85px;
  border-bottom: 140px solid #c32f34;
  /*border-bottom: 140px solid red;*/
  border-right: 100px solid transparent;
}
.right-triangle{
  position: absolute;
  top: 24px;
  left: 65px;
  border-bottom: 140px solid #c32f34;
  /*border-bottom: 140px solid yellow;*/
  border-left: 100px solid transparent;
}


/*
==============================================
Layer 1
==============================================
*/

.head{
  position: absolute;
  top: 62px;
  left: 94px; /*94 + 30 = 122 */
  height: 42px;
  width: 60px;
  background-color: white;
  border-radius: 3px;
}
.shoulders{
  position: absolute;
  top: 109px;
  left: 67px; /*67 + 55 = 122 */
  height: 24px;
  width: 110px;
  background-color: white;
  border-radius: 3px;

}
.torso{
  position: absolute;
  top: 133px;
  left: 90px;
  height: 52px;
  width: 65px;
  background-color: white;
  /*border-radius-bottom-left: 4px;*/
  border-bottom-left-radius: 4px;
}

/*
==============================================
Layer 2
==============================================
*/

.eye{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 3px solid #c32f34;
}
.left-eye{
  top: 73px;
  left: 104px;
}
.right-eye{
  top: 73px;
  left: 130px;
}
.arm{
  position: absolute;
  z-index: 12;
  top:   61px;
  height:64px;
  width:  3px;
}
.left-arm{
  left: 70px;
   -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
       -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
           transform: rotate(-180deg);
   -webkit-transform-origin: bottom right;
      -moz-transform-origin: bottom right;
       -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
           transform-origin: bottom right;
}
.right-arm{
  left: 169px;
   -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
       -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
           transform: rotate(-180deg);
   -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
       -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
           transform-origin: bottom left;

}
.hand-border {
   position:absolute;
    top:-1px;
    left:-12px;
    width: 13px;
   height: 13px;
   background: transparent;
   -moz-border-radius: 14px;
   -webkit-border-radius: 14px;
   border-radius: 14px;
    border-top: 6px solid transparent;
    border-right: 6px solid #c32f34;
    border-left: 6px solid #c32f34;
    border-bottom: 6px solid #c32f34;
}
.hand{
   position:absolute;
    top:0px;
    left:-11px;
    width: 15px;
   height: 15px;
   background: transparent;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
    border-top: 4px solid transparent;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.forearm{
  position: absolute;
  left: -9px;
  top: 19px;
  background-color: white;
  height: 37px;
  width: 17px;
  border-left: 1px solid #c32f34;
  border-right: 1px solid #c32f34;
}
.joint{
  position: absolute;
  left: -8px;
  top: 55px;
  background-color: white;
  height: 12px;
  width: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius:  17px;
}

.leg-bone{
  position: absolute;
  top:175px;
  height: 42px;
  width: 28px;
  width: 2px;
  background-color: white;
}
.left-leg{
  left: 103px;
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);

  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}
.right-leg{
  left: 140px;
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);

  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;

}
.hip-joint{
  position: absolute;
  left: -13px;
  top: -15px;
  background-color: white;
  height: 30px;
  width: 28px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.leg{
  position: absolute;
  top: 10px;
  left: -13px;
  height: 24px;
  width: 28px;
  background-color: white;
}
.leg-border{
  position: absolute;
  top: 10px;
  left: -14px;
  height: 24px;
  width: 30px;
  background: #c32f34;
}
.foot-border{
  position: absolute;
  bottom: -1px;
  left: -17px;
  height: 8px;
  width: 36px;
  background: #c32f34;
}
.foot{
  position: absolute;
  bottom: -1px;
  left: -17px;
  height: 6px;
  width: 34px;
  background-color: white;
  border-left: 1px solid #c32f34;
  border-bottom: 1px solid #c32f34;
  border-right: 1px solid #c32f34;
}
.foot:before{
  content: '';
  position: absolute;
  top: -3px;
  left: -1px;
  width: 30px;
  border-bottom: 2px solid #c32f34;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.foot:after{
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 28px;
  border-bottom: 2px solid white;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

/*
==============================================
broadcast
==============================================
*/


.broadcast{
  animation-name: broadcast;
  -webkit-animation-name: broadcast;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes broadcast {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes broadcast {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

/*
==============================================
chase
==============================================
*/

.chase{
  animation-name: chase;
  -webkit-animation-name: chase;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;

}
@keyframes chase {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
    -o-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes chase {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
    -o-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/*
==============================================
wave
==============================================
*/

.wave{
  animation-name: wave;
  -webkit-animation-name: wave;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;

}
@keyframes wave {
  0% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  30% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
  }
  50% {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg)
  }
  70% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
  }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  30% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
  }
  50% {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg)
  }
  70% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
  }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
}
/*
==============================================
shake
==============================================
*/

.shake{
  animation-name: shake;
  -webkit-animation-name: shake;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;

}
@keyframes shake {
  0% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
  }
}